body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.intro {
    background-color: #1f2937;
    min-height: 60vh;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 5vh;
}

.header-logo {
    font-size: 4.6vh;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 3.3vh;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30vh;
    padding-right: 30vh;
    flex-grow: 1;
    min-height: 40vh;
}

.top-text {
    flex-basis: 50%;
    color: #F9FAF8;
    justify-content: flex-start;
    padding-bottom: 5vh;
}

.h1-intro {
    font-size: 8vh;
    font-weight:bolder;
    padding-right: 100px;
}

.p-intro {
    font-size: 2.75vh;
}

.button-intro {
    border: none;
    background-color: #3882F6;
    padding: .75vh 2.3vh .75vh 2.3vh;
    color:#E5E7EB; 
    border-radius: .65vh;
    font-size: 3vh;
    font-weight: bold;
    text-align: center;
}

.top-image {
    justify-content: flex-end;
}

.austerlitz-img {
    max-height: 38vh;
    justify-content: flex-end;
    box-shadow: .3vh .3vh .3vh black;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    padding-bottom: 20vh;
}

.info-top-text {
    justify-content: center;
    font-size: 5vh;
    font-weight:bolder;
    color:#1f2937;
    margin: 7vh auto 7vh auto;
}

.info-boxes {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.info-images {
    border: 4px solid blue;
    border-radius: 1.2vh;
    height: 29vh;
    width: 23vh;
}

.info-lowertext {
    flex-grow: 1;
    width: 24vh;
    padding: 3vh 0 15vh 0;
}

.quote {
    background-color: #1f2937;
    min-height: 60vh;
    flex-grow: 1;
}