body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.intro {
    background-color: #1f2937;
    min-height: 60vh;
    flex-grow: 1;
    border: 2px solid red;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    align-items: center;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 5vh;
}

.header-logo {
    font-size: 30px;
    color: #F9FAF8;
    border: 2px solid brown;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    border: 2px solid orange;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 22px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30vh;
    padding-right: 30vh;
    flex-grow: 1;
    min-height: 40vh;
    border: 2px solid black;
}

.top-text {
    flex-basis: 50%;
    color: #F9FAF8;
    justify-content: flex-start;
    border: 2px solid red;
}

.h1-intro {
    font-size: 52px;
    font-weight:bolder;
    padding-right: 100px;
}

.p-intro {
    font-size: 18px;
}

.top-image {
    justify-content: flex-end;
    border: 2px solid blue;
}

.austerlitz-img {
    max-height: 30vh;
    justify-content: flex-end;
}